body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(13, 48, 13);
  color: white;
  font-size: 30px;
  font-family: "Pirata One", cursive;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.logo {
  width: 300px;
  height: auto;
}

.navigation_header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.navigation_header a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px 20px;
}

.boxes {
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxes img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.boxes span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
}

p {
  font-size: 20px;
  line-height: 1.6;
  padding: 0 30px 40px;
  text-align: justify;
}

.linha {
  border-top: 2px solid #ccc;
  margin: 40px 0;
}

.rodapé {
  background-color: rgb(28, 29, 28);
  color: rgb(200, 130, 0);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  flex-wrap: wrap;
}

.rodapé-título {
  margin: 0;
}

.rodapé-ícone {
  width: 35px;
}

#galeria {
  padding: 40px 30px;
  background-color: #f0f0f0;
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.galeria-container img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.galeria-container img:hover {
  transform: scale(1.05);
}